<div class="container">
    <div class="proyecto_titulo">
        <h1>Proyectos</h1>
    </div>

    <h2>Portfolio web</h2><b>Fecha de realización: dd/mm/aaaa</b>

    <div class="descripcion">
        <h4>Descripción:</h4>
        <p>
            A travez del programa "Argentina Programa" obtuvimos los conocimientos para desarrollar
            desde cero y por nuestra cuenta un Portfolio web. vimos herramientas como 
            Angular, Java, Html, Css y Js; base de datos y mucho mas que nos serviría 
            para crear nuestro propio Portfolio web.
        </p>
    </div>

    <h5>Proyecto integrador <a href="#">Portfolio</a></h5>
    
</div>
