<div class="estudios">

    <h1>Estudios</h1>

    <ul>
        <h3>Primario</h3> (2000 - 2006) <br>
        
        <p>Escuela Primaria N° 33, Jose C. Paz. Ba As.</p>
        
        <h3>Secundario básico</h3> (2007 - 2009)
        <p>Escuela secundaria Basica n° 9, Jose C. Paz Bs As.</p>

        <h3>Secundario Técnico</h3> (2010 - 2012)
        <p><b>Titulo:</b> Tecnico en industria de procesos (Química)</p>

        <p>Escuela secundaria técnica N°2 Garín, Escobar Bs As.</p>
    </ul>
</div>

