<div class="skills_contenedor">
    <div class="hard">
        <h3>Hard Skills</h3>
           
        <h4>Html</h4>
        <div class="barra_container">
            <div class="progreso_html"></div>
        </div>

        <h4>Css</h4>
        <div class="barra_container"> 
            <div class="progreso_css"></div>
        </div>

        <h4>Javascript</h4>
        <div class="barra_container">               
            <div class="progreso_js"></div>
        </div>

        <h4>Java</h4>
        <div class="barra_container">               
            <div class="progreso_java"></div>
        </div>

        <button title="Añadir">+</button>

    </div>

    <div class="soft">
        <h3>Soft Skills</h3>
           
        <h4>Liderazgo</h4>
        <div class="barra_container">
            <div class="liderazgo"></div>
        </div>

        <h4>Perseverancia</h4>
        <div class="barra_container"> 
            <div class="perseverancia"></div>
        </div>

        <h4>Comunicación</h4>
        <div class="barra_container">               
            <div class="comunicacion"></div>
        </div>

        <h4>Responsabilidad</h4>
        <div class="barra_container">               
            <div class="responsabilidad"></div>
        </div>

        <button title="Añadir">+</button>

    </div>

</div>