<div class="informacion">
    <div class="nom_titulo">
        <h2>Jónatan Altamirano</h2>
        <h2>Web Developer Full Stack Jr</h2>
    </div>

    <div class="sobre_mi">
        <h1>Sobre mí</h1>
        <p>
            Considero que soy una persona responsable pero que toma riesgos para aprender
            y poner en práctica lo aprendido. Cuido mi imagen tratando de dejar siempre una buena impresión
            de lo que soy y lo que puedo llegar a hacer, soy una persona que prefiere trabajar solo 
            para mantener un ambiente ordenado pero a pesar de eso sé acoplarme bien en los grupos para trabajar en equipo.
        </p>
    </div>

</div>


