<div class="informacion">
    <div class="nom_titulo">
        <h2>Jónatan Altamirano</h2>
        <h2>Web Developer Full Stack Jr</h2>
    </div>

    <div class="sobre_mi">
        <h1>Sobre mí</h1>
        <p>
            Soy una persona que está siempre aprendiendo y me gusta demostrar lo aprendiendo.
            En el mundo de la programación no tengo mucha experiencia pero siempre voy a avanzando.
            Ya tengo proyectos para hacer y mucho entusiasmo, aparte de que siempre investigo lo que no sé
            para seguir nutriéndome de conocimiento para ser cada vez mejor.
            Soy alguien que está entrando en el desarrollo web y la programación.
        </p>
    </div>

</div>


