.instagram {  
    display: block;
    float: right;
    width: 40px;
    margin-top: 45px;
    padding: 0;
    margin-right: 5px;
}

span {
    margin-right: 0;
}

.instagram:hover {
    transform: scale(1.1);
    transition: .1s ease;
}

.instagram:active {
    transform: scale(0.9);
}

@media screen and (max-width: 421px){
    .instagram {
        display: block;
    }

}    

@media screen and (max-width: 357px) {
    .instagram {
        width: 30px;
        margin-top: 17px;
    }
}