<div class="exp_lab">

    <h1>Experiencia Laboral</h1>

    <ul>
        <h3>Lumilagros (03/2012 - 06/2012)</h3>  
        <h5>Fábrica dedicada a la creación termos y otros productos de vidrio</h5>
            <li>Selección y empaquetado del producto terminado (vasos de vidrio)</li>
            <li>Ponerle la etiqueta que luego llevaría el precio</li>
        

        <h3>Grupo Comeca (02/2013 - 09/2021)</h3>
        <h5>Empresa dedicada a la fabricación de envases de hojalata para aerosoles y comidas enlatadas, 
            en líneas de producción con máquinas automaticas y semi automaticas. 
        </h5>

        <li>Probador de envases por perdidas en probadora automatica y manual</li>
        <li>Operardor de máquina remachadora de envases</li>
        <li>Operador de tijera cortadora de hojalata</li>
        <li>Operador de palletizado semi automatico</li>
        <li>Manejo de autoelevador(abastecimiento de líneas)</li>
        <h5>Estuve en entrenamiento en el sector de calidad, donde manejaba las herramientas:</h5>
        <li>Microscopio</li>
        <li>Micrómetro</li>
        <li>Calibre digital y análogo</li>
        <li>Herramientas manuales y eléctricas</li>
        <h5>con los programas Datalizer y Trebol para medir las dimensiones y otros datos de los envases.</h5>
        
        <h5>Terminé esa etapa con la posibilidad y el conocimiento suficiente
            como para ser "oficial" y manejar una línea de producción.
        </h5>
    </ul>
</div>
