.btn {
    float: right;
    margin: 25px;
    margin-left: 0;
    margin-bottom: 5px;
}

.login {
    display: block;
    float: right;
    font-size: 18px;
    background-color: #08f;
    border-radius: 5px;
    color: #FFF;
    margin-top: 25px;
}

.login:hover {
    transform: scale(1.2);
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0 0 5px 3px #08f;
}

.login:active {
    transform: scale(.9);
}

@media screen and (max-width: 421px){

    .login:hover {
        transform: none;
        box-shadow: none;
    }

}

@media screen and (max-width: 357px) {
    .btn, .login {
        margin: 10px 2px;

        font-size: 14px;
    }

}